<div class="container">

  <div class="row">

    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3 class="text-center">Escribe la película que quieres buscar:</h3>
      <br>
      <input
          class="form-control"
          (keyup)="getPelicula(busqueda.value)"
          type="search"
          #busqueda
          placeholder="Busqueda...">
    </div>
    <div class="col-md-1"></div>

  </div>
  <hr>
  <br>

  <!-- PELICULAS ENCONTRADAS -->

  <div class="col-md-12" *ngIf="busqueda.value != ''">
    <h1> Búsqueda: <h2>{{ termino }}</h2> </h1>
    <hr>

    <div class="card-columns">
      <div
          *ngFor="let pelicula of peliculas"
          class="card black"
          style="width: 18rem;">
        <span class="card bg-dark text-center"> {{ pelicula.title}} </span>
        <img
            [routerLink]="['/detalle', pelicula.id]"
            [src]="pelicula?.poster_path | urlimagen:'http://image.tmdb.org/t/p/w300'"
            class="card-img-top handy"
            alt="card image cap">
      </div>
    </div>

  </div>

</div>
